#profilbillede{
 box-shadow: 10px 10px 5px 0spx #000;
}

p{
    color: rgba(116, 139, 12, 0.747);
    padding-left: 10px;
}

.overskriftH1{
    color: rgba(116, 139, 12, 0.747);
    text-align: center;
    
}

#menu{
    font-weight: bold;
    margin-left: 5px;
    color: rgba(116, 139, 12, 0.747);
}

nav a{
    color: rgba(84, 181, 219, 0.747)
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

div{
    background-color: rgb(241, 229, 229);
}

.social{
    
}


